[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
flake8 = "*"
flake8-annotations = "*"
flake8-bugbear = "*"
flake8-import-order = "*"
pre-commit = "*"
pytest-benchmark = "*"
bandit = "*"
recommonmark = "*"
myst-parser = "*"
aiohttp-theme = "*"
hypixelio = {editable = true, extras = ["all"], path = "."}

[packages]
requests = "==2.26.0"
requests-cache = "==0.8.0"
aiohttp = "==3.7.4post0"
aiohttp-client-cache = "==0.5.1"

[scripts]
lint = "pre-commit run --all-files"
precommit = "pre-commit install"
tests = "python -m unittest"
benchmark = "pytest --fixtures tests"
code-check = "bandit -r hypixelio"
