[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.28.2"
aiohttp = "==3.8.3"

[dev-packages]
flake8 = "~=5.0.4"
flake8-annotations = "~=2.9.1"
flake8-bugbear = "~=22.8.23"
flake8-import-order = "~=0.18.1"
flake8-tidy-imports = "~=4.8.0"
pep8-naming = "~=0.13.2"
pyright = "~=1.1.304"
pre-commit = "~=2.20.0"
ipython = "~=8.5.0"
# Dependencies for documentation
recommonmark = "~=0.7.1"
myst-parser = "~=0.18.0"
sphinx-rtd-theme = "~=1.0.0"
# Development
hypixelio = {editable = true, extras = ["all"], path = "."}

[scripts]
precommit = "pre-commit install"
lint = "pre-commit run --all-files"
tests = "python -m unittest"
