/* CSS files import */
@import "../basic.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Reset */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}
